Datasets/*
Datasets
.idea/
.ipynb_checkpoints/
testdata/
__pycache__
__pycache__/*
testdata
.DS_Store
slprj
slprj/*
csv_output
data/
bellhop_envs
sources
bellhop_out
ambient_Noise/
sanctsound/
submarine_torpedo/
whoi_whale_sounds/
DS3500/
